@model System.Collections.Generic.Dictionary<int,Lab.Models.ContactModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Kontakty</h2>
<a class="btn btn-primary" asp-action="Add" asp-controller="Contact">Dodaj kontakt</a>
<h4>Lista kontaktów</h4>
<table class="table">
    <thead>
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var entry in @Model)
    {
        <tr>
            <td>
                @entry.Value.FirstName
            </td>
            <td>
                @entry.Value.LastName
            </td>
            <td>
                <div>
                    <a class="btn btn-primary"
                       asp-action="Edit"
                       asp-controller="Contact"
                       asp-route-id=@entry.Value.Id>Edytuj</a>
                    <a class="btn btn-primary"
                       asp-action="Details"
                       asp-controller="Contact"
                       asp-route-id=@entry.Value.Id>Szczegóły</a>
                    <a class="btn btn-primary"
                       asp-action="Delete"
                       asp-controller="Contact"
                       asp-route-id=@entry.Value.Id
                       onclick="return confirm('Czy na pewno chcesz usunąć ten kontakt?');">Usuń</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>