<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Kalkulator</h2>
            <form action="Result" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="FirstName">Imię</label>
                    <input class="form-control" type="text" name="FirstName" step="0.00001" id="name"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="BirthDate">Data</label>
                    <input class="form-control" type="date" name="BirthDate" step="0.00001" id="birthday"/>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Oblicz</button>
                </div>
            </form>
        </div>
    </div>
</div>