@model Birth
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Your Name: @Model.FirstName</h3>
<h3>Your Birthday: @Model.FormattedBirthDate</h3>
<h3>Your Age: <b class="text-danger">@Model.CalculateAge()</b></h3>