@model dynamic

@{
    ViewBag.Title = "Age";
    Layout = "_Layout";
}

<h1>@ViewBag.Title</h1>
<h3>Birthdate: @ViewBag.birth </h3>
<h3>Futuredate: @ViewBag.future </h3>
<h3>Obliczony wiek: @ViewBag.Result</h3>
